@use './vars.scss' as *;

.footer {
    color: $dark-40;

    .footer-inner {
        .footer-body {
            padding-block: fluid(80, 40);
            border-bottom: $border;

            .footer-menu {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: start;
                column-gap: fluid(80, 20);

                .footer-column {
                    display: grid;
                    row-gap: fluid(36, 16);

                    .footer-main-link {
                    }

                    .footer-menu-list {
                        display: flex;
                        flex-direction: column;
                        row-gap: fluid(18, 8);

                        .footer-menu-item {
                            display: flex;
                            align-items: center;
                            row-gap: rem(8);

                            .footer-menu-link {
                            }
                        }
                    }

                    @include tablet {
                        &:last-child {
                            grid-column: -1 / 1;

                            .footer-menu-list {
                                flex-direction: row;
                                flex-wrap: wrap;
                                gap: rem(12);
                            }
                        }
                    }
                }

                @include tablet {
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: rem(40);
                }

                @include mobile {
                    row-gap: rem(20);
                }
            }
        }

        .footer-extra {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
            padding-block: rem(40);

            .footer-extra-menu {
                .footer-extra-menu-list {
                    display: flex;

                    .footer-extra-menu-item {
                        .footer-extra-menu-link {
                        }

                        &:not(:last-child)::after {
                            content: '|';
                            margin-inline: rem(11);
                        }
                    }
                }
            }

            .footer-soc1als {
                @include mobile {
                    order: -1;
                }
            }

            .footer-copyright {
            }

            @include laptop {
                padding-block: rem(24);
            }

            @include mobile {
                flex-direction: column;
                row-gap: rem(20);
            }
        }
    }
}
