section.about(aria-labelledby="about-title")
    div.about-inner.container
        header.about-header
            img.about-icon(src="./images/about/icon.svg", alt="", height="150", width="150")
            div.about-info
                p.about-subtitle.tag Learn, Connect, and Innovate
                h2.about-title(id="about-title") Be Part of the Future Tech Revolution
            div.about-descirption
                p Immerse yourself in the world of future technology. Explore our comprehensive resources, connect with fellow tech enthusiasts, and drive innovation in the industry. Join a dynamic community of forward-thinkers.
        ul.about-list
            li.about-item
                a.about-card.tile(href="/")
                    h3.about-card-title.circle-icon Resource Access
                    div.about-card-desciption 
                        p Visitors can access a wide range of resources, including ebooks, whitepapers, reports.
            li.about-item
                a.about-card.tile(href="/")
                    h3.about-card-title.circle-icon Community Forum
                    div.about-card-desciption 
                        p Join our active community forum to discuss industry trends, share insights, and collaborate with peers.
            li.about-item
                a.about-card.tile(href="/")
                    h3.about-card-title.circle-icon Tech Event
                    div.about-card-desciption 
                        p Stay updated on upcoming tech events, webinars, and conferences to enhance your knowledge.