section.section(aria-labelledby="features-title")
    header.section-header
        div.section-header-inner.container
            div.section-header-info
                p.section-subtitle.tag Unlock the Power of
                h2.section-title(id="features-title") FutureTech Features
    div.section-body
        ul.list
            li.list-item
                div.card.container
                    div.card-preview
                        div.card-preview-main
                            img.card-preview-icon(src="./images/features/1.svg" alt="")
                            div.card-preview-info
                                h3.card-preview-title Future Technology Blog
                                div.card-preview-description
                                    p Stay informed with our blog section dedicated to future technology.
                        //- div.card-preview-extra
                    div.card-body
                        div.card-grid.grid-2
                            div.card-cell.tile
                                h4.card-cell-title.h5 Quantity
                                p.card-cell-description Over 1,000 articles on emerging tech trends and breakthroughs.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Variety
                                p.card-cell-description Articles cover fields like AI, robotics, biotechnology, and more.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Frequency
                                p.card-cell-description Fresh content added daily to keep you up to date.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Authoritative
                                p.card-cell-description Written by our team of tech experts and industry professionals.
            li.list-item
                div.card.container
                    div.card-preview
                        div.card-preview-main
                            img.card-preview-icon(src="./images/features/2.svg" alt="")
                            div.card-preview-info
                                h3.card-preview-title Research Insights Blogs
                                div.card-preview-description
                                    p Dive deep into future technology concepts with our research section.
                        //- div.card-preview-extra
                    div.card-body
                        div.card-grid.grid-2
                            div.card-cell.tile
                                h4.card-cell-title.h5 Depth
                                p.card-cell-description 500+ research articles for in-depth understanding.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Graphics
                                p.card-cell-description Visual aids and infographics to enhance comprehension.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Trends
                                p.card-cell-description Explore emerging trends in future technology research.
                            div.card-cell.tile
                                h4.card-cell-title.h5 Contributors
                                p.card-cell-description Contributions from tech researchers and academics.