footer.footer
    div.footer-inner.container
        div.footer-body
            nav.footer-menu
                div.footer-column
                    a.footer-main-link.h6(href="/") Home
                    ul.footer-menu-list
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Features
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Blogs
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Resources
                            span.badge New
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Testimonials
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Contact Us
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Newsletter
                div.footer-column
                    a.footer-main-link.h6(href="/") News
                    ul.footer-menu-list
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Trending Stories
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Featured Videos
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Technology
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Health
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Politics
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Environment
                div.footer-column
                    a.footer-main-link.h6(href="/") Blogs
                    ul.footer-menu-list
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Quantum Computing
                        li.footer-menu-item
                            a.footer-menu-link(href="/") AI Ethics
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Space Exploration
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Biotechnology
                            span.badge New
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Renewable Energy
                        li.footer-menu-item
                            a.footer-menu-link(href="/") Biohacking
                div.footer-column
                    a.footer-main-link.h6(href="/") Podcasts
                    ul.footer-menu-list
                        li.footer-menu-item
                            a.footer-menu-link(href="/") AI Revolution
                        li.footer-menu-item
                            a.footer-menu-link(href="/") AI Revolution
                            span.badge New
                        li.footer-menu-item
                            a.footer-menu-link(href="/") TechTalk AI
                        li.footer-menu-item
                            a.footer-menu-link(href="/") AI Conversations
                div.footer-column
                    a.footer-main-link.h6(href="/") Resources
                    ul.footer-menu-list
                        li.footer-menu-item
                            a.footer-menu-link.button(href="/")
                                span.icon.icon-yellow-arrow Whitepapers
                        li.footer-menu-item
                            a.footer-menu-link.button(href="/")
                                span.icon.icon-yellow-arrow Ebooks
                        li.footer-menu-item
                            a.footer-menu-link.button(href="/")
                                span.icon.icon-yellow-arrow Reports
                        li.footer-menu-item
                            a.footer-menu-link.button(href="/")
                                span.icon.icon-yellow-arrow Research Papers
        div.footer-extra
            div.footer-extra-menu
                ul.footer-extra-menu-list
                    li.footer-extra-menu-item
                        a.footer-extra-menu-link(href="/") Terms & Conditions
                    li.footer-extra-menu-item
                        a.footer-extra-menu-link(href="/") Privacy Policy
            div.footer-soc1als.soc1als
                ul.soc1als-list
                    li.soc1als-item
                        a.soc1als-link(href="/" target="_blank" aria-label="Twitter" title="Twitter")
                            include /images/icons/twitter.svg
                    li.soc1als-item
                        a.soc1als-link(href="/" target="_blank" aria-label="Medium" title="Medium")
                            include /images/icons/medium.svg
                    li.soc1als-item
                        a.soc1als-link(href="/" target="_blank" aria-label="Linkedin" title="Linkedin")
                            include /images/icons/linkedin.svg
            p.footer-copyright 
                | © 
                time(datetime="2024") 2024
                |  FutureTech. All rights reserved.
