section.hero(aria-labelledby="hero-title")
    div.hero-main.container
        div.hero-body
            p.hero-subtitle Your Journey to Tomorrow Begins Here
            h1.hero-title(id="hero-title") Explore the Frontiers of Artificial Intelligence
            div.hero-description
                p Welcome to the epicenter of AI innovation. FutureTech AI News is your passport to a world where machines think, learn, and reshape the future. Join us on this visionary expedition into the heart of AI.
        div.hero-metrics.metrics.full-vw-line.top.left
            dl.metrics-list
                div.merrics-item
                    dt.metrics_key Resources available
                    dd.metrics_value.h3
                        | 300
                        span.metrics-sign +
                div.merrics-item
                    dt.metrics_key Total Downloads
                    dd.metrics_value.h3
                        | 12k
                        span.metrics-sign +
                div.merrics-item
                    dt.metrics_key Active Users
                    dd.metrics_value.h3
                        | 10k
                        span.metrics-sign +
        div.hero-resources-preview.resources-preview
            div.resources-preview-team.team
                img.team-person(src="./images/team/1.png", alt="", width="60", height="60")
                img.team-person(src="./images/team/2.png", alt="", width="60", height="60")
                img.team-person(src="./images/team/3.png", alt="", width="60", height="60")
                img.team-person(src="./images/team/4.png", alt="", width="60", height="60")
            div.resources-preview-body
                p.resources-preview-title.h5 Explore 1000+ resources
                p.resources-preview-subtitle Over 1,000 articles on emerging tech trends and breakthroughs.
            a.resources-preview-button.button(href="./resources.pug")
                span.icon.icon-yellow-arrow Explore Resources
    div.hero-advantages
        h2.visually-hidden Our advantages
        ul.hero-advantages-list.container
            li.hero-advantages-item
                div.advantage-card
                    img.advantage-card-image(src="./images/advantages/icon-1.svg", alt="", width="50", height="50")
                    a.advantage-card-link.circle-icon(href="/")
                        h3.advantage-card-title.h6 Latest News Updates
                        p.advantage-card-subtitle Stay Current
                    p.advantage-card-details Over 1,000 articles published monthly
            li.hero-advantages-item
                div.advantage-card
                    img.advantage-card-image(src="./images/advantages/icon-2.svg", alt="", width="50", height="50")
                    a.advantage-card-link.circle-icon(href="/")
                        h3.advantage-card-title.h6 Expert Contributors
                        p.advantage-card-subtitle Trusted Insights
                    p.advantage-card-details 50+ renowned AI experts on our team
            li.hero-advantages-item
                div.advantage-card
                    img.advantage-card-image(src="./images/advantages/icon-3.svg", alt="", width="50", height="50")
                    a.advantage-card-link.circle-icon(href="/")
                        h3.advantage-card-title.h6 Global Readership
                        p.advantage-card-subtitle Worldwide Impact
                    p.advantage-card-details 2 million monthly readers