section.section(aria-labelledby="resources-title")
    header.section-header
        div.section-header-inner.container
            div.section-header-info
                p.section-subtitle.tag Your Gateway to In-Depth Information
                h2.section-title(id="resources-title")
                    | Unlock Valuable Knowledge with
                    br
                    | FutureTech's Resources
            a.section-link.button(href="./resources.pug")
                span.icon.icon-yellow-arrow View All Resources
    div.section-body.tabs(tabs)
        h3.visually-hidden(id="resources-category-title") Resources
        ul.list
            li.list-item
                div.card.container
                    div.card-preview
                        div.card-preview-main
                            img.card-preview-icon(src="./images/resources/icon-1.svg" alt="")
                            div.card-preview-info
                                h3.card-preview-title Ebooks
                                div.card-preview-description
                                    p Explore our collection of ebooks covering a wide spectrum of future technology topics.
                        div.card-preview-extra
                            div.download-info.tile
                                div.download-info-body
                                    p.download-info-title Downloaded By
                                    p.dowload-info-subtitle.h5 10k + Users
                                div.download-info-team.team
                                    img.team-person(src="./images/team/1.png", alt="", width="50", height="50")
                                    img.team-person(src="./images/team/2.png", alt="", width="50", height="50")
                                    img.team-person(src="./images/team/3.png", alt="", width="50", height="50")
                                    img.team-person(src="./images/team/4.png", alt="", width="50", height="50")
                    div.card-body
                        div.card-grid.grid-2-alt
                            div.card-cell
                                h3.card-cell-title.h5 Variety of Topics
                            div.card-cell
                                p.card-cell-description Topics include AI in education (25%), renewable energy (20%), healthcare (15%), space exploration (25%), and biotechnology (15%).
                            div.card-cell.wide
                                img.card-cell-image(src="./images/resources/details-1.jpg", alt="", width="917", height="332")
                            div.card-cell.tile
                                h4.card-cell-subtitle Total Ebooks
                                p.card-cell-description.h6 Over 100 ebooks
                            div.card-cell.tile
                                h4.card-cell-subtitle Download Formats
                                p.card-cell-description.h6 PDF format for access.
                                a.card-cell-link.button(href="/")
                                    span.icon.icon-yellow-eye Preview
                            div.card-cell.tile.wide
                                h4.card-cell-subtitle Average Author Expertise
                                p.card-cell-description.h6 Ebooks are authored by renowned experts with an average of 15 years of experience