section.section(aria-labelledby="reviews-title")
    header.section-header
        div.section-header-inner.container
            div.section-header-info
                p.section-subtitle.tag What Our Readers Say
                h2.section-title(id="reviews-title") Real Words from Real Readers
            a.section-link.button(href="") 
                span.icon.icon-yellow-arrow 
    div.section-body
        ul.bordered-grid.grid-3.container
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/1.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Sarah Thompson
                            p.person-card-department San Francisco, USA
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The ebooks on AI in education have been a game-changer for my research. They provide in-depth insights and case studies that are invaluable for staying updated.
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/2.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Raj Patel
                            p.person-card-department Mumbai, India
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The whitepapers on renewable energy strategies have greatly influenced my work. They offer detailed data and analysis, helping me make informed decisions.
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/3.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Emily Adams
                            p.person-card-department London, UK
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The AI in healthcare reports have been an essential resource for our hospital. They highlight the latest innovations and best practices, improving patient care.
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/1.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Alan Jackson
                            p.person-card-department Houston, USA
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The reports on space mining prospects have fueled my passion for space exploration. They provide a comprehensive view of what lies beyond Earth.
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/2.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Jessica Miller
                            p.person-card-department Boston, USA
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The research papers on genomic breakthroughs have been a goldmine of information. They've shaped the direction of my research in genomics.
            li.bordered-grid-item
                div.review-card
                    div.review-card-author.person-card
                        img.person-card-image(src="./images/blog/3.png", alt="", width="60", height="60")
                        div.person-card-body
                            p.person-card-name Diego Lopez
                            p.person-card-department Barcelona, Spain
                    div.review-card-body
                        div.review-card-rating-view.rating-view(aria-label="Rating 5 Stars", title="Rating 5 Stars")
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                            div.rating-view-star.is-active
                        blockquote.review-card-description
                            p The ebooks on renewable energy strategies have given me the insights I needed to pivot our startup toward sustainability.